{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в аккаунт</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Добро пожаловать</h1>
            <p>Пожалуйста, войдите в свой аккаунт, чтобы продолжить.</p>
        </div>
    </header>

    <main>
        <section class="login-section">
            <div class="container">
                <h2>Вход</h2>
                <form action="/login/" method="post" id="login-form" class="login-form">
                    {% csrf_token %}
                    <label for="login">Логин:</label>
                    <input type="text" id="login" name="login" placeholder="Введите ваш логин" required>

                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" placeholder="Введите ваш пароль" required>

                    <button type="submit" class="btn">Войти</button>
                </form>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Ваша Система. Все права защищены.</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/big-integer/1.6.52/BigInteger.min.js"
            integrity="sha512-9Ep9DTmyYR7ilaRntBdTgdiAWg/hDjwbkgxjt04LAZdHWdo5k0eQoxmvdjz99hPSvh7R2M2LWk3DvaWer6f9mA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
