/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Заголовок */
header {
    background-color: #4caf50;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2rem;
}

/* Секция сообщений */
.message-form-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #333;
}

input, textarea {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border-color: #4caf50;
}

textarea {
    resize: vertical;
}

button {
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: #e74c3c;
    font-size: 1rem;
    margin-top: 10px;
}

/* Подвал */
footer {
    margin-top: 245px;
    padding: 10px 0;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color:blue;
}